* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "AvantGardeCTT";
  src: local("AvantGardeCTT"), url("../fonts//subset-AvantGardeCTT.woff2"), url("../fonts//subset-AvantGardeCTT.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "AvantGardeCTT";
  src: local("AvantGardeCTT"), url("../fonts//subset-AvantGardeCTT-Bold.woff2"), url("../fonts//subset-AvantGardeCTT-Bold.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Calibri";
  src: local("Calibri"), url("../fonts//subset-Calibri.woff2"), url("../fonts//subset-Calibri.woff");
  font-style: normal;
  font-weight: 400;
}

.ico-color-time-work {
  width: 1em;
  height: 1em;
}

.ico-mono-clock {
  width: 1em;
  height: 1em;
}

.ico-mono-contact {
  width: 0.96em;
  height: 1em;
}

.ico-mono-cooperate {
  width: 1em;
  height: 1em;
}

.ico-mono-info {
  width: 1em;
  height: 1em;
}

.ico-mono-inst {
  width: 1em;
  height: 1em;
}

.ico-mono-mail {
  width: 1em;
  height: 1em;
}

.ico-mono-ok {
  width: 1em;
  height: 1em;
}

.ico-mono-phone {
  width: 1em;
  height: 1em;
}

.ico-mono-tel {
  width: 1em;
  height: 1em;
}

.ico-mono-vk {
  width: 1em;
  height: 1em;
}

html {
  height: 100%;
}

body {
  font: 16px/1.5 "Calibri", sans-serif;
  color: #364957;
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

audio,
canvas,
img,
video {
  max-width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

img {
  border-style: none;
  max-width: 100%;
  display: block;
  outline: none !important;
}

a {
  color: #63C9E3;
}

a:hover {
  color: inherit;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  fill: currentcolor;
  max-width: 100%;
}

.link-block {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.disable {
  opacity: .5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.svg-icon {
  display: inline-block;
}

.form__line {
  margin-bottom: 15px;
}

.form__line input {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border: #a9a9a9 1px solid;
}

.form__line input:-moz-placeholder {
  opacity: .5;
}

.form__line input::-moz-placeholder {
  opacity: .5;
}

.form__line input:-ms-input-placeholder {
  opacity: .5;
}

.form__line input::-webkit-input-placeholder {
  opacity: .5;
}

.form__line input:focus {
  border-color: #63C9E3;
  outline: none;
}

.form__line input:focus:-moz-placeholder {
  opacity: 0;
}

.form__line input:focus::-moz-placeholder {
  opacity: 0;
}

.form__line input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__line input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__line label {
  display: block;
}

.form__subtitle {
  font-size: 18px;
  font-weight: bold;
}

.form-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.form-cols-50 {
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(100% - 30px);
  margin-bottom: 15px;
}

@media (min-width: 630px) {
  .form-cols-50 {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(50% - 30px);
  }
}

.form-checklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-checklist__item {
  margin: 0 15px 15px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 630px) {
  .form-checklist__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
}

.form-checklist input {
  position: absolute;
  display: none;
  visibility: hidden;
}

.form-checklist input:checked + label {
  border-color: #63C9E3;
  -webkit-box-shadow: 0 0 5px #63C9E3;
          box-shadow: 0 0 5px #63C9E3;
}

.form-checklist input:checked + label:before {
  background-color: #63C9E3;
  border-color: #63C9E3;
}

.form-checklist label {
  padding: 15px;
  position: relative;
  line-height: 1;
  border: 1px solid #a9a9a9;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checklist label:before {
  content: "";
  display: block;
  margin-right: .5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1em;
          flex: 0 0 1em;
  height: 1em;
  border: 1px solid #a9a9a9;
}

.btn-wrap {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  border: none;
  padding: .75em 3em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #63C9E3;
  font-size: 23px;
  font-weight: bold;
  border-radius: 2em;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  -o-transition: box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.btn:hover {
  -webkit-box-shadow: 0 0 20px #63C9E3;
          box-shadow: 0 0 20px #63C9E3;
}

@media (max-width: 630px) {
  .btn {
    font-size: 16px;
    max-width: 100%;
  }
}

.sendmessage,
.senderror {
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.sendmessage {
  background-color: #2edca4;
}

.senderror {
  background-color: #dccf2e;
}

.header-page__info {
  text-align: center;
  background-color: #63C9E3;
  padding: .5em 0;
  font: bold 14px/1.2 "AvantGardeCTT", serif;
}

.navbar {
  margin: 0 0 50px 0;
  color: #FFF;
  position: relative;
  width: 100%;
  z-index: 10;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 630px) {
  .navbar__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 630px) {
  .navbar__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar__logo {
  margin-right: 20px;
}

@media (max-width: 630px) {
  .navbar__logo {
    margin-bottom: 20px;
  }
}

.navbar__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1 1;
}

@media (max-width: 992px) {
  .navbar__side {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.navbar__tel {
  margin-right: 20px;
}

@media (max-width: 630px) {
  .navbar__tel {
    margin-bottom: 10px;
  }
}

.slide-page {
  position: relative;
  padding: 30px 0 60px;
  background: url("../img/content/clinic-bg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  font-family: "AvantGardeCTT", serif;
}

.slide-page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(54, 73, 87, 0.75);
}

.slide-page__cnt {
  position: relative;
}

.slide-page__cnt > *:not(:last-child) {
  margin-bottom: 60px;
}

.slide-page__title {
  line-height: 1;
  font-weight: bold;
  font-size: 48px;
}

@media (min-width: 630px) {
  .slide-page__title {
    font-size: 64px;
  }
}

.slide-page__sub-title {
  font-size: 24px;
}

@media (min-width: 1200px) {
  .slide-page__sub-title {
    max-width: 50%;
  }
}

.slide-page__slogan {
  font-size: 48px;
}

@media (max-width: 630px) {
  .slide-page__slogan {
    text-transform: uppercase;
    font-size: 32px;
  }
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Calibri", sans-serif;
  max-width: 560px;
}

@media (max-width: 630px) {
  .card-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-header__img {
  margin-bottom: 30px;
}

@media (min-width: 630px) {
  .card-header__img {
    margin-bottom: 0px;
    margin-right: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 235px;
            flex: 0 0 235px;
  }
}

.card-header__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-header p {
  margin: 0;
}

.card-header p:not(:first-child) {
  margin-top: 1em;
}

.title {
  font-family: "AvantGardeCTT", serif;
}

.title--section {
  margin: 0 0 1.5em;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

@media (max-width: 630px) {
  .title--section {
    font-size: 20px;
  }
}

.big-txt {
  font-size: 18px;
}

.service {
  position: relative;
}

@media (min-width: 992px) {
  .service__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 992px) {
  .service__work-wrap {
    margin-bottom: 40px;
    height: 340px;
  }
}

@media (min-width: 992px) {
  .service__work-wrap {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(41.66667% - 30px);
  }
}

@media (min-width: 992px) {
  .service__cnt {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(58.33333% - 30px);
  }
}

@media (min-width: 992px) {
  .service__title {
    position: relative;
    margin-left: -60px;
  }
}

@media (max-width: 992px) {
  .service__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .service__count {
    position: relative;
    float: right;
    width: 160px;
    left: 40px;
  }
}

@media (min-width: 630px) {
  .service-list__other {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}

.service-list__item {
  position: relative;
  padding: 0 0 0 1.5em;
  margin: 0 0 1em;
  line-height: 1.2;
  font-size: 18px;
}

.service-list__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: .25em;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #63C9E3;
  -webkit-box-shadow: 0 0 0 4px rgba(99, 201, 227, 0.5);
          box-shadow: 0 0 0 4px rgba(99, 201, 227, 0.5);
}

.service-list__item--main {
  font-size: 24px;
}

.service-list__item--main:before {
  margin: 0 0 0 .3em;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__img {
  background: url("../img/service-bg.jpg") no-repeat right top;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 992px) {
  .work__img {
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-position: center;
  }
}

@media (min-width: 992px) {
  .work__img {
    width: 40vw;
    height: 100%;
    right: calc(50% + 150px);
  }
}

.work__cnt {
  position: relative;
  font-size: 18px;
}

.work__title {
  margin: 0 0 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.index-records__banner {
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(100% - 30px);
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .index-records__banner {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(25% - 30px);
  }
}

.index-records__cnt {
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(100% - 30px);
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .index-records__cnt {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(75% - 30px);
  }
}

.index-cooperate {
  font-size: 18px;
}

.index-cooperate__item {
  margin-left: 15px;
  margin-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(100% - 30px);
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .index-cooperate__item {
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(33.33333% - 30px);
  }
}

.soc-list__item {
  margin-right: 10px;
  font-size: 24px;
}

.soc-list a {
  text-decoration: none;
}

.banner-sale {
  background: #63C9E3 url("../img/percentage.png") no-repeat;
  background-position: left -60px top 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 560px) and (max-width: 992px) {
  .banner-sale {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.banner-sale__main {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  font-family: "AvantGardeCTT", serif;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.banner-sale__sale {
  color: #fff;
  font-family: "Calibri", sans-serif;
  font-size: 100px;
}

.banner-sale__desc {
  color: #364957;
  font-size: 16px;
}

.banner-sale__footer {
  background-color: #364957;
  color: #fff;
  padding: 20px 20px 20px 40px;
  font-size: 14px;
  text-align: left;
  text-indent: -.75em;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 992px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section--fill-light {
  background-color: #f7f7f7;
}

.section--fill-dark {
  background-color: #364957;
  color: #fff;
}

.section--fill-dark .ico {
  color: #63C9E3;
}

.rel {
  position: relative;
}

.icon-left {
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;
}

.icon--line {
  margin-bottom: .5em;
  display: block;
}

.icon--big {
  font-size: 48px;
}

.footer-page {
  padding: 30px 0;
  background: #364957;
  color: #fff;
}

.footer-page__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 630px) {
  .footer-page__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 630px) {
  .footer-page__item {
    margin-bottom: 20px;
  }
}

.footer-page__about {
  font-size: 14px;
}

.footer-page__social a {
  color: inherit;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.footer-page__social a:hover {
  color: #63C9E3;
}

.footer-page__creator {
  font-size: 14px;
}

@media (max-width: 992px) {
  .footer-page__creator {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer-page__creator a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.footer-page__creator a:hover {
  text-decoration: underline;
}

.footer-page__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-page__contact .ico {
  color: #63C9E3;
}

.footer-page__contact a {
  text-decoration: none;
  color: inherit;
}

.footer-page__contact > * {
  margin-bottom: 15px;
}

/*# sourceMappingURL=common.css.map */
