@font-face {
    font-family: 'Futura';
    src: url("../fonts/FuturaNewDemi-Reg.woff2"), url("../fonts/FuturaNewDemi-Reg.woff");
    font-weight: normal;
    font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

.promo {
  min-height: 100vh;
  padding: 40px 0;
  text-align: center;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: Futura, sans-serif;
  background-color: pink;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promo__wrap {
  max-width: 820px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promo--TriPeaks{
  background-color: #d3a6bb;
  background-image: url("../img/bg_TriPeaks.png");
}
@media only screen 
  and (min-height: 700px) {
    .promo__wrap { flex: 0 0 70vh; }
  }

.promo__title{
  text-transform: uppercase;
  font-size: 48px;
  line-height: 1;
  margin: 0 0 30px;
  color: #341d79;
}
  .promo__title-main {
    text-transform: uppercase;
  }
  @media only screen 
  and (min-width: 480px)
  and (max-width: 1025px) {
    .promo__title-main { font-size: 60px; }
  }
  @media only screen 
  and (max-width: 480px) {
    .promo__title-sub { font-size: .5em; }
  }
  @media only screen 
  and (max-width: 1025px) {
    .promo__title-sub { display: block; }
    .promo__title-dash{ display: none; }
  }

.promo__main-screen{
  margin: auto;
  filter: drop-shadow(5px 5px 10px rgba(0,0,0,.3));
}

.promo__brand{
  margin-bottom: 20px;
}
  .promo__brand p {
    margin: 0 10px;
  }
  .promo__brand-link {
    max-width: 50vw;
    display: inline-block;
  }

.promo__btn-get-wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  .promo__btn-get{
    height: 50px;
    flex: 0 0 160px;
    margin: 5px;
    display: block;
  }

  .promo__btn-get-title{
    flex: 0 0 100%;
    font-size: 24зч;
    margin: 10px 0;
  }


